.books {
    display: flex;
    flex-direction: column;
    position: relative;
}

.title, .published { margin: 0; }
.title { font-size: 1.5rem; }
.published { font-size: 1.2rem; }
.cover, .coveroverlay, .addedoverlay { width: 10rem; height: 15rem; }

.coveroverlay, .addedoverlay {
    position: absolute; top: 0; left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex; justify-content: center; align-items: center;
    visibility: hidden;
}

.addbtn {
    height: 9rem; width: 9rem;
    color: white; cursor: pointer;
}

.added {
    height: 5rem; width: 13rem;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 1.5rem; font-weight: 700;
    line-height: 2.5rem; color: white;
    text-align: center;
}


@keyframes added {
    from {
        visibility: visible;
    }
    to {
        visibility: hidden;
    }
}