.searchsection {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.booksearch {
    height: 1.5rem;
    background-color: transparent;
    color: white;
    font-size: 1.4rem;
    margin-left: 1rem;

    padding: 1rem;
    outline: 0;
    border: none;
    transition: 0.5s;
}

.searchbar {
    display: flex;
}

.booksearch::placeholder {
    color: white;
}

.searchicon {
    color: white;
    height: 3rem;
    width: 3rem;
    margin-left: 1rem;
    z-index: 99;
}

.bookoverview {
    position: absolute;
    top: 25vh;
    left: 35vw;
    display: flex;
    flex-direction: column;
}

.bookcontainer {
    width: 50vw; height: 500px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    gap: 2rem;
    background-color: #777;
    padding: 1.2rem;
    border-radius: 0.2rem;
    overflow: scroll;
}

.librarycontainer {
    height: 350px;
    width: 40vw;
    position: absolute;
    top: -100vh;
    left: 35vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
    gap: 2rem;
    overflow: auto;
    padding: 2rem;
    background-color: black;
    z-index: 500;
}

.xclose {
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    height: 3.2rem;
    width: 3.2rem;
    color:  #555;
    cursor: pointer;
    z-index: 600;
}

@keyframes comeDown {
    to {
        top: 0vh;
    }
}

@keyframes getUp {
    from {
        top: 0;
    }
    
    to {
        top: -100vh;
    }
}