.books {
    height: 25rem;
    display: flex;
    flex-direction: column;
    position: relative;
}

.title {
    font-size: 1.8rem;
    width: 13rem;
    padding: 0.1rem 0.5rem;
}

.published {
    font-size: 1.2rem;
    padding: 0.1rem 0.5rem;
}

.cover {
    width: 13rem;
    height: 20.3rem;
    margin-bottom: 0.6rem;
}

.coveroverlay, .addedoverlay {
    width: 13rem;
    height: 20.3rem;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.added {
    height: 5rem;
    width: 13rem;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2.5rem;
    color: white;
    text-align: center;
}

.addbtn {
    height: 9rem;
    width: 9rem;
    color: white;
    cursor: pointer;
}

@keyframes added {
    from {
        visibility: visible;
    }
    to {
        visibility: hidden;
    }
}