.bookicon {
    height: 3rem;
    width: 3rem;
    margin-right: 1rem;
}

.bookcount {
    height: 1.8rem;
    width: 1.8rem;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 0; left: 0;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 700;
}

.mylibrary {
    display: flex;
    align-items: center;
}

.bookicon, .mylibrary {
    color: white;
    cursor: pointer;
}